const countdown = document.querySelector('.countdown');
const countdownItems = document.querySelectorAll('.countdown-item');

const launchDate = new Date('2024-03-15 00:00:00');

function updateCountdown() {
  const currentTime = new Date();
  const timeDifference = launchDate - currentTime;

  const days = Math.floor(timeDifference / (1000 * 60 * 60 * 24));
  const hours = Math.floor((timeDifference % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
  const minutes = Math.floor((timeDifference % (1000 * 60 * 60)) / (1000 * 60));
  const seconds = Math.floor((timeDifference % (1000 * 60)) / 1000);

  countdownItems.forEach((item, index) => {
    item.querySelector('.days').textContent = days;
    item.querySelector('.hours').textContent = hours;
    item.querySelector('.minutes').textContent = minutes;
    item.querySelector('.seconds').textContent = seconds;
  });
}

updateCountdown();
setInterval(updateCountdown, 1000);
.thumbnail-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Two equal-width columns */
    gap: 10px; /* Adjust gap between images as needed */
    justify-items: center; /* Center images horizontally */
    align-items: center; /* Center images vertically */
}

.footer-lightbox-wrap {
    display: block; /* Ensure each <a> behaves as a block */
}

.thumbnail-image {
    width: 100%; /* Ensure images fill their container */
    height: auto; /* Maintain aspect ratio */
}
